
<style>

    h1 {
        font-family:'Lucida Sans', sans-serif;
        font-size: 23pt;
        text-align: center;
    }

    p {
        font-family:'Lucida Sans', sans-serif;
        font-size: 17pt;
        margin: 15px 0 10px;
    }

    small { 
        font-family:'Lucida Sans', sans-serif;
        margin-bottom: 10px;
    }

     .container {
        width: 100vw;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center
    }

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #222;
        border-radius: 5px;
        margin-bottom: 20px;
        padding: auto 20px;
        width: 60%;
        box-shadow: 2px 2px 4px #4b4b4b59;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        margin: 0 30px;
    }

    .card-buttons {
        margin: 0 20px;
    }
     .card-buttons img{
        padding: 0 10px;
     }

</style>

<h1>Questionários:</h1>
{{#each questionario}}
    <div class="container">
       <div class="card">
            <div class="card-body">
                <p>{{titulo}}</p>
                <small>Desenvolvedor: {{nome}}</small>
                <small>Criação: {{data}}</small>
            </div>
            <div class="card-buttons">
                <a href="/quest/resp/{{_id}}">
                    <img src="/../public/img/edit.svg" alt="Editar" srcset="editar">
                </a>
                <a href="#">
                    <img src="/../public/img/trash.svg" alt="Deletar" srcset="deletar">
                </a>
            </div>
        </div>
    </div>
{{else}}
{{/each}}


